*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Inter,sans-serif;
}

body{
    background:#d08720;
}

/* Sidebar */

.sidebar{
    width:260px;
    height:100vh;
    background:#121212;
    color:rgb(239, 237, 247);
    position:fixed;
    left:0;
    top:0;
    display:flex;
    flex-direction:column;
}

.logo{
    font-size:34px;
    font-weight:bold;
    padding:30px 20px;
    border-bottom:1px solid #e09b9b;
}

.profile{
    display:flex;
    align-items:center;
    gap:15px;
    padding:20px;
    border-bottom:1px solid #222;
}

.avatar{
    width:40px;
    height:40px;
    background:#e8822a;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:bold;
}

.profile p{
    color:#b4aaaa;
    font-size:13px;
    font-family:'segoe ui',sans-serif;
}

.menu{
    list-style:none;
    margin-top:10px;
}

.menu li a{
    display:flex;
    align-items:center;
    gap:10px;
    text-decoration:none;
    color:white;
    padding:18px 22px;
}

.menu li a:hover{
    background:#a89999;
}

.active a{
    background:#1d2d5f;
}

.logout{
    margin-top:auto;
    padding:20px;
    border-top:1px solid #222
    cursor:pointer;
}

.logout a{
    text-decoration:none;
    color:white;
}

/* Main Content */

.main-content{
    margin-left:270px;
    padding:50px;
}

.main-content h1{
    font-size:34px;
    margin-bottom:10px;
}

.subtitle{
    color:#ede6e6;
    margin-bottom:30px;
}

/* Card */

.card{
    background:white;
    border-radius:25px;
    padding:25px;
    margin-bottom:25px;
    box-shadow:0 0 10px rgba(191, 46, 46, 0.08);
    max-width:1010px;
}

.card h3{
    margin-bottom:25px;
}

.row{
    display:flex;
    gap:25px;
}

.input-group{
    flex:1;
    margin-bottom:25px;
}

.input-group label{
    display:block;
    margin-bottom:8px;
    font-weight:500;
}

input,
select,
textarea{
    width:100%;
    padding:14px;
    border:1px solid #d5d5d5;
    border-radius:8px;
    outline:none;
}

textarea{
    resize:none;
}

.buttons{
    display:flex;
    gap:15px;
}

.submit-btn{
    background:#112d89;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:8px;
    cursor:pointer;
}

.clear-btn{
    background:white;
    border:1px solid #ccc;
    padding:12px 20px;
    border-radius:8px;
    cursor:pointer;
}

/* Upload Box */

.upload-box{
    border:2px dashed #8894ed;
    border-radius:10px;
    padding:40px;
    text-align:center;
    position:relative;
}

.upload-icon{
    font-size:45px;
    color:#1434a7;
    margin-bottom:15px;
}

.upload-box p{
    color:#777;
    margin-top:5px;
}

.upload-box input{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
    cursor:pointer;
}

/* Responsive */

@media(max-width:768px){

    .sidebar{
        display:none;
    }

    .main-content{
        margin-left:0;
        padding:20px;
    }

    .row{
        flex-direction:column;
    }

}